
/* color */
.color-white{
    color: #ffffff
}

.color-yellow{
    color: #fbb901
}

.color-cian{
    color: #00a8b5
}

.color-purple{
    color: #774898;
}

.color-violet{
    color: #e62a76;
}

/* text */
h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Ubuntu';
}


a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}

.container-fluid{
    margin-left: 160px;
}

/* menu */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #774898;
}

.sidenav-brand{
    background-color: white;
    height: 166px;
    padding-top:30px;
}

.sidenav a {
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

.sidenav-menu_botton{
    position: relative;
}

.profile-avatar_img{
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 130px;
    margin-left:33px;
    margin-right:33px;
    width: 100px;
    height:100px;
    border-radius: 50%;
    border-color:white;
}

.text_vertical-rotate{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

#buscador{
    background-color: #fbb901;
    height: 255px;
}

#iglesia-viva{
   background-color: #ffffff;
}

#creacion-de-proyectos{
    background-color: #fbb901;
    padding-bottom: 50px;
}

#ayuda-ya{
    background-color: #ffffff;
    padding-bottom: 50px;
}

#unete{
    background-color: #00a8b5;
    padding-bottom: 50px;
}

#contacto{
    background-color: #774898;
    padding-bottom: 50px;
}

/* Creación de Proyectos */
.crear-proyectos_font ul{
    margin-top: 20px;
}
.crear-proyectos_font ul li a{
    font-family: 'Libre Baskerville', serif;
    line-height: 20pt;
    color:black
}

.nuevo-proyecto h1{
    font-family: 'Libre Baskerville', serif;
}
.nuevo-proyecto h5{
    font-weight: ;
}

.nuevo-proyecto h5{
    text-align: right;
}

.nuevo-proyecto p{
    padding: 30px 0 30px 30px;
    font-size: 16px;    
}

/* buscador*/
.form-control{
    background-color: initial;
    color: #774898;
    border:none;
    border-left: 1px solid white;
    border-radius: initial;
    border-bottom-left-radius: 2px;
    box-shadow: initial;
    padding-left:1px;
}

.navbar-form .form-control{
    width: 300px;
}

.form-control{
    color:white;
}
#buscador h1{
    font-size: 75px;
}

#buscador h4{
    padding-left: 100px;
}

#buscador h1{
    font-size: 75px;
}

/* Ayuda Ya*/
.ayuda-ya_thumbnail_img_km, .iglesia-viva_thumbnail_img_km{
    font-weight: 700;
    height: 50px;
    width: 50PX;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
}

.ayuda-ya_thumbnail_img_km P, .iglesia-viva_thumbnail_img_km P{
    margin-top: 15px;
}

.img_circle{
    border-radius: 50%;
    border: 2px solid;
    box-sizing: border-box;
}

.img_circle_color-violet{
    border-color: #e62a76
}
.img_circle_color-cian{
    border-color: #00a8b5
}
.ayuda-ya_thumbnail, .iglesia-viva_thumbnail {
    text-align: center;
    height: 280px;
    margin: 30px 0 15px 0;
}

.ayuda-ya_thumbnail h4{
    color:#e62a76;
}

.ayuda-ya_thumbnail_img_km p{
    color: #e62a76
}

.iglesia-viva_thumbnail_img_km p{
    color: #00a8b5;
}

.iglesia-viva_thumbnail h4{
    color: #00a8b5
}

/* Únete*/

button{
    background-color: initial;
    border:initial;
    display: inline-block;
}
#vertical-line{
    height: 100px;
    margin: 30px;
    border-left: 1px solid white;
    display: inline-block;
}
/* footer */
footer .form-group{
    margin-top: 20px;
}

.mensaje-grande{
    font-size: 50px;
    font-weight: 700;
}


