

.section-height{
    height: 500px;
}
/* color */
.color-white{
    color: #ffffff
}

.color-yellow{
    color: #fbb901
}

.color-cian{
    color: #00a8b5
}

.color-purple{
    color: #774898;
}

.color-violet{
    color: #e62a76;
}

/* text */
h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Ubuntu';
}

a:hover{
    text-decoration: none;
}

ul{
    list-style: none;
}
.container-fluid{
    margin-left: 160px;
}
/* menu */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: #774898;
}
.sidenav-brand{
    background-color: white;
    height: 166px;
    padding-top:30px;
}
.sidenav a {
    padding: 4px 12px 4px 12px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
}

.sidenav-menu_botton{
    position: relative;
}

.profile-avatar_img{
    background-image: url('../images/profile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 130px;
    margin-left:33px;
    margin-right:33px;
    width: 100px;
    height:100px;
    border-radius: 50%;
    border-color:white;
       

}

.text_vertical-rotate{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

#buscador{
    background-color: #fbb901;
    height: 255px;
}

#iglesia-viva{
   background-color: #ffffff;
}

#creacion-de-proyectos{
    background-color: #fbb901;
}

#ayuda-ya{
    background-color: #ffffff;
}

#unete{
    background-color: #00a8b5;
}

#contacto{
    background-color: #774898;
}


